XLX_REFLECTOR_NAME=XLX000
XLX_SERVER_HOST=xlx.example.com
XLX_SYSOP_CALLSIGN=N0CALL
XLX_SYSOP_EMAIL=admin@example.com
XLX_COUNTRY=RU
XLX_DASHBOARD_PORT=8080
XLX_DMR_PORT=62030
XLX_YSF_PORT=42000
XLX_DEFAULT_MODULE=A
XLX_MODULES=ABCDEFGHIJKLMNOPQRSTUVWXYZ
XLX_INSTALL_PATH=/xlxd
XLX_SOURCE_PATH=/usr/src/xlxd
XLX_LOG_PATH=/var/log/xlxd.log
XLX_SERVICE_NAME=xlxd
XLX_REPO_URL=https://github.com/LX3JL/xlxd.git
